/* 1- slide-x */
.slide-x-enter-from,
.slide-x-leave-to{
  transform: translateX(0);
}

.slide-x-enter-to,
.slide-x-leave-from{
  transform: translateX(100%);
}

.slide-x-enter-active,
.slide-x-leave-active {
  transition: 0.5s all ease;
}